<header>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-10 titles">
        <h1><%= t("welcome_greeting") %></h1>
        <h2>
          <a href="https://github.com/gobuffalo/buffalo"><i class="fab fa-github" aria-hidden="true"></i> https://www.unosoft.hu/hotfix/</a>
        </h2>
      </div>
    </div>
  </div>

</header>

<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>Events</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr text-align="left">
            <th>WITH</th>
            <th>WHAT</th>
			<th>WHERE</th>
            <th>WHEN</th>
          </tr>
        </thead>
        <tbody>

          <%= for (e) in events { %>
            <tr>
              <td class="centered">
                <%= e.With %>
              </td>
              <td>
				<%= e.What %>
              </td>
              <td>
				<%= e.Where %>
              </td>
              <td>
				<%= e.When.Format("2006-01-02T15:04:05Z07:00") %>
              </td>
            </tr>
          <% } %>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="foot"> <span> Powered by <a href="http://gobuffalo.io/">gobuffalo.io</a></span> </div>
